<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <p th:text="${user}"></p>
</div>
<div>
    <p th:text="${order_id}"></p>
</div>
<div>
    <p th:text="${amount}"></p>
</div>
<div>
    <p th:text="${date}"></p>
</div>
<div>
    <p th:text="${address}"></p>

</div>

<div>
    <p th:text="${products}"></p>

</div>

<div>
    <p th:text="${credentials}"></p>

</div>
</body>
</html>