<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="w-[60vw]">
<form method="get" action="/admin/send_data" class="flex flex-col gap-2 w-full">
  <input name="user" value="user" type="text" class="w-full">
  <input name="amount" value="100" type="text" class="w-full">
  <input name="date" value="22.1.2023"type="text" class="w-full">
  <input name="order_id" value="12121xxsd12"type="text" class="w-full">
  <input name="address" value="Shaitan Gali, Khatra mahel, Shamshaan ke saamne. pin 420420" type="text" class="w-full">
  <input name="products" value="beer + champagne + wine" type="text" class="w-full">
  <input type="submit" value="submit"   class="w-full">
</form>
</body>
</html>