<nav class="nav-nv" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div class="nv-container">
        <a href="/">
            <img style="max-width: 100px; min-width: 100px;" src="/images/Prost.png" alt="Prost">
        </a>
        <div class="nv-links">
            <a th:classappend="${#httpServletRequest.getRequestURI() == '/' ? 'active' : ''}" href="/">
                Home
            </a>
            <a th:classappend="${#httpServletRequest.getRequestURI() == '/bottles' ? 'active' : ''}" href="/bottles">
                Bottles
            </a>
            <a th:classappend="${#httpServletRequest.getRequestURI() == '/crates' ? 'active' : ''}" href="/crates">
                Crates
            </a>
            <th:block sec:authorize="isAnonymous()">
                <a th:classappend="${#httpServletRequest.getRequestURI() == '/login' ? 'active' : ''}" href="/login">
                    Log in
                </a>
            </th:block>
            <th:block sec:authorize="isAuthenticated()">
                <a th:classappend="${#httpServletRequest.getRequestURI() == '/cart' ? 'active' : ''}" href="/cart">
                    <i class="fa-solid fa-lg fa-cart-shopping"></i>
                </a>
                <a href="/user" th:classappend="${#httpServletRequest.getRequestURI() == '/user' ? 'active' : ''}">
                    <i class="fa-solid fa-lg fa-circle-user"></i>
                </a>
                <div sec:authorize="hasRole('ADMIN')">
                    <a th:classappend="${#httpServletRequest.getRequestURI() == '/admin' ? 'active' : ''}" href="/admin">
                        Admin
                    </a>
                </div>
            </th:block>
        </div>
    </div>
</nav>