<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta th:replace="include/head">
    <title>Register</title>
</head>
<body class="prost-bg">
<div th:replace="include/navbar"></div>
<main class="content-container flex flex-row justify-center items-center text-black">
    <main class="flex flex-col gap-3 p-8 bg-white shadow rounded-xl">
        <div class="logo self-center">
            <a href="/"> <img class="h-16" src="/images/Prost.png" alt="Prost"></a>
        </div>
        <p>We are so excited, only few steps before join us!!</p>
        <form th:action="@{/register}" method="post" th:object="${form}">
            <div class="mb-3 w-full">
                <label for="register__username"></label>
                <input class="form-control w-full"
                       id="register__username" th:field="*{username}" type="text" placeholder="Username" required autofocus>
                <p class="text-red-600 text-sm" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
            </div>
            <div class="mb-3 w-full">
                <label for="register__password"></label>
                <input class="form-control w-full"
                       id="register__password" th:field="*{password}" type="password" placeholder="Password" required>
                <p class="text-red-600 text-sm" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
            </div>
            <div class="mb-3 w-full">
                <label for="register__password_check"></label>
                <input class="form-control w-full"
                       id="register__password_check" th:field="*{passwordCheck}" type="password" placeholder="Repeat password" required>
                <p class="text-red-600 text-sm" th:if="${#fields.hasErrors('passwordCheck')}" th:errors="*{passwordCheck}"></p>
            </div>
            <div class="mb-5 w-full">
                <label for="register__birthday">Birthday:</label>
                <input class="form-control w-full"
                       id="register__birthday" th:field="*{birthday}" type="date" placeholder="Birthday" required>
                <p class="text-red-600 text-sm" th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}"></p>
            </div>
            <input name="next" th:if="${next != null && next.length() > 0}" type="hidden" th:value="next">
            <div class="mb-3 flex gap-2 mt-3">
                <button class="btn-primary flex-1 font-bold rounded-1 h-[46px] w-[266px] drop-shadow" type="submit">
                    Register
                </button>
                <a class="btn-secondary flex-1 font-bold grid place-content-center"
                   th:href="@{'/login' + ${next != null ? '?next='+next : ''}}">Sign In</a>
            </div>
        </form>
    </main>
</main>
<footer th:replace="include/footer"></footer>
</body>
</html>